{% extends 'base.html' %}



{% block href %}
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
              <img class="mb-2" src="../img/undraw_completing_re_i7ap.svg" alt="" width="70" height="50">
          <span class="fs-4">Вернуться и купить готовые решения</span>
        </a>
{% endblock %}
{% block div %}
     <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
         {% for elem in sug %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ elem.title }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">РУБ: {{ elem.price }}<small class="text-muted fw-light">/месяц</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ elem.description }}</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Я создал! Я покупаю!</button>
            </div>
          </div>
        </div>
         {% endfor %}
     </div>
{% endblock %}
{% block main %} {% endblock %}